/*
 * Add your CSS styles here
 * 
 */

* {
box-sizing: border-box;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	background: #f4f4f4;
}

h1, h2, h3 {
	color: #222;
}

p {
	line-height: 24px;
	color: #555;
}

a {
	color: green;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.nav-list {
	list-style: none;
	padding: 0;
}

.content {
	/* width: 940px; */
	width: 100%;
	margin: 0 auto;
	padding-left: 15px;
	position: relative;
}

#header  {
	border-bottom: 1px solid #999;
}

#nav {
	width: 35%;
	height: 100%;
	margin: 0 20px 0 0;
	float: left;
	/* padding-left: 15px; */
	position: absolute;
  /* CHALLENGE 3: how could you get this to float to the left side of the screen? */
}

#main { /*or div > #main*/
	margin: 0;
	padding-left: 15px;
	width: 65%;
	border-left: 1px solid #888;
	float: right;
	
  /*  CHALLENGE 3: how could you get this to float to the left side of the screen? */
  /* CHALLENGE 2: how could you give this element a one-pixel border down its left side? */
}


#copyright {
	margin-top: 30px;
	/* margin-bottom: 30px; */
	padding: 25px 0;
	text-align: center;
	background-color: #999;
}


/* Ignore this for now, it is special code needed to fix the layout after using the "float" rules */
.clearfix:before, .clearfix:after { content:""; display:table;}
.clearfix:after { clear:both; }
.clearfix { zoom:1; }